.col_td{
    gap: 7rem;
}

.icon_s
{
    font-size: 17px;
    margin: 5px;
    margin-left: 11px;
    cursor: pointer;
}

.icon_s.check
{
    color: greenyellow;
}
.icon_s.close
{
    color: red;
}
.icon_s.report
{
    color: yellow;
}

