.header_user
{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.txt-green
{
  color: #30CE99;
}


.flex {
  display: flex;
  justify-content: center; /* Ajuste conforme necessário */
  align-items: center; /* Ajuste conforme necessário */
  width: 100%;
}

.table-container {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-x: auto;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container th, .table-container td {
    padding: 15px;
    text-align: left;
  }
  
  .table-container th {
    background-color: #f8f8f8;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .table-container tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-container td {
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #ddd;
  }
  
  .table-container .status {
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .table-container .status.ativo {
    background-color: #c8f7c5;
    color: #27ae60;
  }
  
  .table-container .status.inativo {
    background-color: #fef3c7;
    color: #f39c12;
  }
  
  .table-container .status.cancelado {
    background-color: #fadbd8;
    color: #e74c3c;
  }
  
  .table-container .more-options {
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
  }
  
  .new-user-btn {
    background-color: #48DEAD;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .new-user-btn:hover {
    background-color: #27ae60;
  }
  
  .top_table{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
   
  }

  .title-user {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
