.header-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.dark-mode .header-container {
    background-color: #1c1c1c; /* Cor de fundo do cabeçalho em modo escuro */
    color: #ffffff; /* Texto em modo escuro */
}

.img-header {
    width: 40px; /* Tamanho desejado para a imagem do perfil */
    height: 40px; /* Tamanho desejado para a imagem do perfil */
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Para manter a proporção da imagem */
    align-self: center; /* Centraliza verticalmente */
    
}

.custom-search {
    flex-grow: 1; /* Para o campo de busca ocupar o máximo de espaço possível */
}

/* Flex container para alinhamento central */
.flex {
    display: flex;
    align-items: center;
}

.foto-perfil
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}
