.container-new{
    width: 100%;
    max-width: 100%; /* Aumentar a largura máxima */
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.header-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
 
h1 {
    color: #24AD7F;
}
 
.btn-voltar {
    text-decoration: none;
    color: #fff;
    background-color: #24AD7F;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
 
.form-wrapper {
    display: flex; /* Usar flexbox para organizar o layout */
    gap: 20px; /* Espaçamento entre os elementos */
}
 
.evento-form {
    flex: 1; /* Permite que o formulário ocupe o espaço disponível */
}
 
.foto-wrapper {
    flex: 0 0 20rem; /* Largura fixa para a caixa de foto */
    border: 2px solid #ccc; /* Aumentar a espessura da borda */
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}
 
 
.foto-preview img {
    width: 100%; /* Imagem ocupa a largura total da caixa de prévia */
    border-radius: 5px;
}
 
.evento-form .form-group {
    margin-bottom: 20px;
}
 
.compact {
    display: flex; /* Flexbox para layout em grade */
    gap: 20px; /* Espaçamento entre as caixas */
}
 
.form-group-half {
    flex: 1; /* Cada grupo ocupará metade do espaço */
}
 
.form-group-half:first-child {
    flex: 2; /* Aumentar o espaço do campo Local */
}
 
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #24AD7F;
}
 
input[type="text"],
input[type="date"],
input[type="time"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
 
textarea {
    resize: none;
}
 
input[type="file"] {
    display: none; /* Ocultar o botão padrão */
}
 
.label-file {
    display: inline-block; /* Para alinhar como um botão */
    color: #fff;
    background-color: #24AD7F;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.label-file:hover {
    background-color: #1D8E68;
}
 
select {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-right: 30px;
    position: relative;
}
 
select:after {
    content: "▼";
    right: 10px;
    top: 5px;
}
 
.btn-criar {
    width: 100%;
    padding: 15px;
    background-color: #24AD7F;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.btn-criar:hover {
    background-color: #1D8E68;
}